ia-backend/training/model/*.keras filter=lfs diff=lfs merge=lfs -text
Reemplaza filter=lfs diff=lfs merge=lfs -text
la filter=lfs diff=lfs merge=lfs -text
que filter=lfs diff=lfs merge=lfs -text
rastrear filter=lfs diff=lfs merge=lfs -text
*.extensión_grande filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
necesitas filter=lfs diff=lfs merge=lfs -text
con filter=lfs diff=lfs merge=lfs -text
extensión filter=lfs diff=lfs merge=lfs -text
